html 
    body 
        form(action="/forgot-password" method="POST")
            input(type="email" name="email" id="email" required placeholder="Enter Ennail")
            <br/>
            input(type="submit", value="Submit")