html 
    body 
        form(action=`${link}`, method="post")
            input(type="password" required name='pass' placeholder="Enter Password")
            <br/>
            input(type="password" required name="verifyPass" placeholder="Verify Password")
            <br/>
            input(type="submit" value="Reset password") 