html 
    body    
        form(action="/sign_in", method="POST")
            input(type="email" name="email" required placeholder="Enter Email")
            <br/>
            input(type='password' name="pass" required placeholder="Enter Password")
            <br/>
            input(type="submit" value="Submit")